body {
    background-color: lightblue;
  }
  
  h1 {
    color: black;
    margin-left: 6%;
  }

p{

    color: black;
    margin-left: 6%
}

.button1{
    color: white;
    width: 100px;
    height: 30px;
    border-radius: 40px;
    border-color: white;
    background-color: rgb(40, 222, 40);
    margin-left: 6%
    
}
.img{
    display: block;
        margin-left: auto;
        margin-right: auto;
}

.button2{
    width: 100px;
    height: 30px; 
    border-radius: 40px;
    border-color: white;
    background-color: white;
}

.button3 {
  position: relative;
  left: 300px;
  bottom: 20px;
  top: 80px;
  margin-left: 70px;
  margin-left: 50px;
  padding-left: 10px;

}

.outer-button3 { 
  left: 50px;
  top: 6;
  right: 0;
  bottom: 100px;
  width: 150px;
  height: 60px; 
  border-radius: 2px;
  background: white;
  color: black;  
}

.button4{
    width: 150px;
    height: 60px; 
    border-radius: 10px;
    border-color: white;
    background-color: white;
    margin-top: 6%;
    margin-left: 9%;
 
}

.text1{
    color: red;
    margin-left: 47%;
    margin-bottom: 1%;
    margin-top: 6%;
}

.text2{
    color: black;
    margin-left: 42.5%;
    margin-top: 0%;
    margin-bottom: 0%;
   
}

.button5 {
  position: relative;
  left: 300px;
  bottom: 20px;
  top: 80px;
  margin-left: 70px;

}

.outer-button5 { 
  left: 50px;
  top: 6;
  right: 0;
  bottom: 100px;
  width: 120px;
  height: 150px; 
  border-radius: 10px;
  background: white;
  color: black;
}

.inner-button5 {
  position: absolute;
  top: 15px;
  bottom: 8px;
  height: 21px;
  left: 20px;
  
                      
  border-radius: 50%;
  width: 82px;
  height: 80px;       /*green button size ....and image size adjustment is in html code*/
  color: lightcyan;
  background: lightgreen;
  
 
}

.button6 {
  position: relative;
  left: 350px;
  bottom: 69px;
  top: 50%;
  margin-left: 215px;
 
  
}

.outer-button6 { 
  left: 15px;
  top: 0;
  right: 0;
  bottom: 100px;
  width: 120px;
  height: 150px; 
  border-radius: 10px;
  background: white;
  color: black;
}

.inner-button6 {
  position: absolute;
  top: 15px;
  bottom: 8px;
  height: 21px;
  left: 20px;
  
                      
  border-radius: 50%;
  width: 80px;
  height: 80px;       /*green button size ....and image size adjustment is in html code*/
  color: lightcyan;
  background: lightgreen;
  
 
}


.button7 {
  position: relative;
  left: 550px;
  bottom: 219px;
  top: 50%;
  margin-left: 210px;
}

.outer-button7 { 
  left: 15px;
  top: 0;
  right: 0;
  bottom: 100px;
  width: 120px;
  height: 150px; 
  border-radius: 10px;
  background: white;
  color: black;
}

.inner-button7 {
  position: absolute;
  top: 15px;
  bottom: 8px;
  height: 21px;
  left: 20px;
  
                      
  border-radius: 50%;
  width: 80px;
  height: 80px;       /*green button size ....and image size adjustment is in html code*/
  color: lightcyan;
  background: lightgreen;
  
 
}


.button8 {
  position: relative;
  left: 750px;
  bottom: 369px;
  top: 50%;
  margin-left: 200px;
}

.outer-button8 { 
  left: 15px;
  top: 0;
  right: 0;
  bottom: 100px;
  width: 120px;
  height: 150px; 
  border-radius: 10px;
  background: white;
  color: black;
}

.inner-button8 {
  position: absolute;
  top: 15px;
  bottom: 8px;
  height: 21px;
  left: 20px;
  
                      
  border-radius: 50%;
  width: 80px;
  height: 80px;       /*green button size ....and image size adjustment is in html code*/
  color: lightcyan;
  background: lightgreen;
}


.text3{
  color: red;
  margin-top: 4%;
  margin-left: 6%;
  margin-bottom: 1%;
}

.text4{
  color: black;
  margin-top: 1%;
  margin-left: 5%;
  margin-bottom: 1%;
}



.button9{
    width: 150px;
    height: 180px; 
    border-radius: 10px;
    border-color: white;
    background-color: white;
    margin-top: 6%;
    margin-left: 450px;
}


.button10{
    width: 150px;
    height: 180px; 
    border-radius: 10px;
    border-color: white;
    background-color: white;
    margin-top: 6%;
    margin-left: 65px;
}


.button11{
    width: 150px;
    height: 180px; 
    border-radius: 10px;
    border-color: white;
    background-color: white;
    margin-top: 6%;
    margin-left: 65px;
    margin-right: 450px;
}

.text5{
    color: red;
    margin-top: 0px;
    margin-left: 600px;
    margin-bottom: 5px;
    position: relative;
    bottom: 280px;
}

.text6{
  color: black;
  margin-left: 600px;
  margin-bottom: 1px;
  position: relative;
  bottom: 290px;
}
  


p{
  color: black;
  margin-left: 600px;
  margin-bottom: 1px;
  margin-top: 6px;
  position: relative;
  bottom: 280px;
}

.text7{
  color: black;
  margin-left: 680px;
  margin-bottom: 1px;
  margin-top: 6px;
  position: relative;
  bottom: 280px;
}


.text8{
  color: red;
  margin-left: 60px;
  margin-bottom: 1px;
  margin-top: 6px;
  position: relative;
  bottom: 170px;
}

.text9{
  color: black;
  margin-left: 57px;
  margin-bottom: 1px;
  margin-top: 6px;
  position: relative;
  bottom: 150px;
}

.chefImage{
  margin-left:200px;
  margin-bottom: 10px;
  margin-top: 130px;

}

.aftertext9{
  color: black;
  position: relative;
  bottom: 10px;
  top: 130px;
  right: 543px;

}

.button12{
    color: white;
    width: 100px;
    height: 30px;
    left: 55px;
    bottom: 135px;
    position: relative;
    border-radius: 40px;
    border-color: white;
    background-color: rgb(40, 222, 40);
}

.button13{
  color: rgb(65, 207, 65);
  width: 110px;
  height: 130px;
  left: 500px;
  bottom: 330px;
  position: relative;
  border-radius: 10px;
}

.button14{
  color: rgb(65, 207, 65);
  width: 110px;
  height: 130px;
  left: 520px;
  bottom: 330px;
  position: relative;
  border-radius: 10px;
}

.button15{
  color: rgb(65, 207, 65);
  width: 110px;
  height: 130px;
  left: 270px;
  bottom: 180px;
  position: relative;
  border-radius: 10px;
}

.button16{
  color: rgb(65, 207, 65);
  width: 110px;
  height: 130px;
  left: 300px;
  bottom: 172px;
  
  position: relative;
  border-radius: 10px;
}

.afterbutton16{
  color: black;
  position: relative;
  bottom: 0px;
  top: 0px;
  left: 50px;
}

.afterh4{
  color: black;
  position: relative;
  bottom: 110px;
  top: 10px;
  right: 543px;
}

.UsefulLinks{
    color: black;
    margin-top: 0px;
    margin-left: 600px;
    position: relative;
    bottom: 220px;
}

.MainMenu{
  color: black;
  margin-top: 0px;
  margin-left: 600px;
  position: relative;
  bottom: 220px;
}

.ContactUs{
  color: black;
  margin-top: 0px;
  margin-left: 600px;
  position: relative;
  bottom: 220px;
}




























































.border{
    font-size: 50%;
    border: 5px solid purple;
    border-radius: 5px;
}

.inner1{
    background-color: pink;
    height: 25vh;
    width: 30vw;
}
.inner2{
    background-color: red;
    height: 25vh;
    width: 30vw;
}
.inner3{
    background-color: yellow;
    height: 25vh;
    width: 30vw;
}
.inner4{
    background-color: blue;
    height: 25vh;
    width: 30vw;
}
.outer{
    background-color: green;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
 
}